[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
flake8 = "*"
isort = "*"
ddtrace = "*"
sentry-sdk = "*"
faker = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-cors = "*"
sqlalchemy = "*"
alembic = "*"
flask-restful = "*"
python-dotenv = "*"
requests = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
